
@model SmartAceModel.Books

@using (Ajax.BeginForm("_Create", "Books", new AjaxOptions()
{
    Confirm = "Are you sure you want to create this Book Record?",
    LoadingElementId = "divLoading",
    OnBegin = "Begin",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "list",
    OnSuccess = "Successful",
    OnFailure = "Failed"
}))
{
    @Html.AntiForgeryToken()
    <div class="col-lg-12">
        <div class="modal fade" id="createRequest" tabindex="-1" role="dialog" aria-labelledby="createRequest" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Add New Book</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>

                    <div class="modal-body">


                        <div class="form-group row">
                            <label class="col-sm-9 col-form-label">Book Title *</label>
                            <div class="col-sm-12">
                                @Html.TextBoxFor(u => u.Book_title, new { @Placeholder = "Enter Book Title Here", @class = "form-control", @required = "required" })
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-9 col-form-label">ISBN *</label>
                            <div class="col-sm-12">
                                @Html.TextBoxFor(u => u.ISBN, new { @Placeholder = "Enter ISBN Here", @class = "form-control", @required = "required" })
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-9 col-form-label">Published Year *</label>
                            <div class="col-sm-12">
                                @Html.TextBoxFor(u => u.Publish_Year, new { @Placeholder = "Enter Published Year Here", @class = "form-control", @required = "required" })
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-9 col-form-label">Cover Price *</label>
                            <div class="col-sm-12">
                                @Html.TextBoxFor(u => u.Cover_Price, new { @Placeholder = "Enter Discount Alias Here", @class = "form-control", @required = "required" })
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-9 col-form-label">Status *</label>
                            <div class="col-sm-12">
                                @Html.TextBoxFor(u => u.Status, new { @Placeholder = "Enter Status Here", @class = "form-control", @required = "required" })
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-warning btn btn-rounded" data-dismiss="modal" id="closeCreate">Close</button>
                        <button type="submit" class="btn btn-primary btn btn-rounded">Add New Book</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
