@{
    ViewBag.Title = "Books";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <div class="row">
        <div class="col-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <div class="col-lg-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">LIST OF BOOKS IN LIBRARY</h4>
                                <button style="float: right" type="button" class="btn btn-inverse-primary btn-fw btn btn-rounded" data-toggle="modal" data-target="#createRequest">New Books</button>
                                <br /><br />
                                <div class="table-responsive" id="list">
                                    @Html.Partial("_List")
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="divFormCreate">
    @Html.Partial("_Create", new SmartAceModel.Books())
</div>

<div id="divFormEdit">
    @Html.Partial("_Edit", new SmartAceModel.Books())
</div>
<div id="divFormDelete" style="display: none">
    @Html.Partial("_Delete", new SmartAceModel.Books())
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#example').DataTable({ pageLength: 50 });
    });

    function isNumber(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        return true;
    }

    function readFile() {
        if (this.files && this.files[0]) {
            var FR = new FileReader();
            FR.addEventListener("load", function (e) {
                $('#profileImg').val(e.target.result);
            });

            FR.readAsDataURL(this.files[0]);
        }
    }
    document.getElementById("imgUpload").addEventListener("change", readFile);

    function eReadFile() {
        if (this.files && this.files[0]) {
            var FR = new FileReader();
            FR.addEventListener("load", function (e) {
                $('#eprofileImg').val(e.target.result);
            });

            FR.readAsDataURL(this.files[0]);
        }
    }
    document.getElementById("eimgUpload").addEventListener("change", eReadFile);

    function loadDetails(id) {
        $.ajax({
            url: '@Url.Action("_LoadEdit", "Books")',
            method: "POST",
            cache: false,
            data: { id: id },
            success: function (member) {
                $('#txtID').val(member.ID);
                $('#mBook_title').val(member.Book_title);
                $('#mISBN').val(member.ISBN);
                $('#mPublish_Year').val(member.Publish_Year);
                $('#mStatus').val(member.Status);
                $('#mCover_Price').val(member.Cover_Price);
                $('#txtID').val(member.ID);

            },
            error: function () {
                alert('Unable to fetch Books record.');
            }
        });
    }

    function ShowDeletePopUp(id) {
        $('#txtDeleteID').val(id);
        $('#btnDelete').click();
    }

    function Begin() {

    }

    function Successful() {
        $('#closeCreate').click();
        alert('New Books added successfully.');
        $('#example').DataTable();
    }

    function UpdateBegin() {

    }

    function UpdateSuccessful() {
        $('#closeEdit').click();
        alert('Books record updated successfully.');
        $('#example').DataTable();
    }

    function DeleteBegin() {

    }

    function DeleteSuccessful() {
        alert('Books record deleted successfully.');
        $('#example').DataTable();
    }

    function Failed() {
        alert('Operation failed please try agian.');
    }
</script>
